<p>
  Show do Milhao!!
</p>
<p>
  Você está na rodada {{round_id}}
</p>
<p>
  Se você acertar a pergunta, acumula R$ {{(round)?.right_answer}}
</p>
<p>
  Se você errar, vai embora com R$ {{(round)?.wrong_answer}}
</p>

<div class="alert alert-primary" role="alert">
  {{(question)?.sentence}}
</div>

<div *ngFor = "let alternative of (question)?.answers(); let i = index">
    <button type="button" class="btn btn-primary btn-lg btn-block answeres" (click)="answer(i)" [disabled]="answered_question" >{{alternative}}</button>
</div>
<div class="row help_line">
  <div class="col center_button"><button type="button" class="btn btn-outline-secondary">Pular Pergunta</button></div>
  <div class="col center_button"><button type="button" class="btn btn-outline-warning">Ajuda dos Universitários</button></div>
  <div class="col center_button"><button type="button" class="btn btn-outline-dark">Eliminar 2</button></div>  
</div>


<app-decision-point *ngIf = "answered_question" [round] = "round" [next_round] = "next_round" [success] = "success"></app-decision-point>